bin
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
_deps
*.cmake
build
build_*
shaman_lib
tmp*
*.cov
ref_code
.vscode
gen_html_docs
eagle_coverage_app
eagle_coverage_consumer
test_target
test_prog
*.bb
*.log
docs/build